@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

/******* INTRO */

/********/
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/****************/
/******* logo dbz */
h1 {
    box-shadow: 3px 3px 5px 4px #F20000, 0.2em 0.2em .9em #FBC817;
    text-align-last: center;
    border-radius: 11px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

h1:hover {
    box-shadow: 3px 2px 5px 4px#FBC817, 0em 0 .9em #F20000;
    text-align-last: center;
    border-radius: 11px;
}

.scale-up-center {
    animation: scale-up-center 3s ease-in 3s infinite alternate both
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}


#imgtourne {
    border-radius: 100px;
    margin-left: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**********/

/******* body */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 4px #F20000, 0.2em 0.2em .9em #FBC817;
}

.row:hover {
    box-shadow: 3px 2px 5px 4px#FBC817, 0em 0 .9em #F20000;
}

.versus {
    font-size: 163px;
    font-family: 'Square Peg', cursive;
    color: #F20000;
    font-weight: bold;
    position: absolute;
    padding-right: 130px;
}

.song {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Square Peg', cursive;
    text-align: center;
    background-color: #FBC817;
    color: darkred;
}

.songBtn {
    border-radius: 12px;
    color: darkred;
    font-weight: bolder;
}

.songBtn:hover {
    background-color: #F20000;
    color: #FBC817;
}

.col {
    display: inline-grid;
}

.vegeta {
    float: right;
}

.goku {
    float: left;
}

.saiyanV {
    position: absolute;
    height: 62%;
    width: 13%;
}

.saiyanG {
    position: absolute;
    height: 59%;
    width: 14%;
}

.btn {
    background-color: #61dafb;
    height: 32px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn:hover {
    background-color: #F20000;
}

th {
    color: blue;
    font-size: 20px;

}

td {
    color: red;
    font-weight: 900;
}